<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-pickup-call-card status="hold" updateAt="24/8/2024 15.20" createdAt="24/8/2024"
notes="we have two bags that are full, one with plastic and the other with glasses"></app-pickup-call-card>

<app-pickup-call-card status="Processing" updateAt="24/8/2024 15.27" createdAt="24/8/2024"
notes="we have two bags that are full"></app-pickup-call-card>

<app-pickup-call-card status="Finished" updateAt="24/8/2024 16.40" createdAt="24/8/2024" value="$17,00"></app-pickup-call-card>

</ion-content>
